

<br>
<div class="z-depth-2 col s12 m10 offset-m1 l8 offset-l2"  style=" position: relative;background-color:white; font-size:12px; margin-bottom:40px;">
  <% if user_signed_in? && current_user.kind == "M" %>
    <div class="right">
      <a class='enjoy-css' href="/flea_update_view/<%=@one_flea.id%>" style="width:100px; display:inline;">
        <i class="material-icons" style="font-size:22px;">mode_edit</i></a>
      <a class='enjoy-css' href="/flea_delete/<%=@one_flea.id%>" style="width:100px; display:inline;">
        <i class="material-icons" style="font-size:22px;">delete</i></a>
    </div>
  <% end %><br>
  <% if @one_flea.sel_term_end.to_f > Time.zone.now.to_datetime.to_f && @one_flea.term_end.to_f > Time.zone.now.to_datetime.to_f%>
    <span class="badge red-text" style="font-size:12px">셀러 모집 중</span>
  <% elsif  @one_flea.term_end.to_f > Time.zone.now.to_datetime.to_f %>
    <span class="badge green-text" style="font-size:12px">셀러 모집 완료</span>
  <% end %>
  <% if @one_flea.term_end.to_f < Time.zone.now.to_datetime.to_f %>
    <span class="badge red-text" style="font-size:12px">완료 마켓</span>
  <% end %>

  <h5 class="center" id="flea_title"><%= @one_flea.title %></h5>
    <img class="materialboxed "  src="<%= @one_flea.image_url %>" style="margin:auto; max-height:500px; max-width:100%;">
    <br>
  <div class="col s12"  style="margin-bottom:10px;">
    <div class="col s3 center" >
          주관
    </div>
    <div class="col s9">
      <%= @one_flea.supervision %>
    </div>
  </div>
  <div class="col s12"  style="margin-bottom:10px;">
    <div class="col s3 center">
          기간
    </div>
    <div class="col s9">
    <%= @one_flea.term_start.strftime("%m/%d %H:%M") %> - <%= @one_flea.term_end.to_s(:time) %>
    </div>
  </div>
  <div class="col s12" style="margin-bottom:10px;">
    <div class="col s3 center">
          셀러 모집 기간
    </div>
    <div class="col s9" >
      <%= @one_flea.sel_term_start.strftime("%m/%d") %> - <%= @one_flea.sel_term_end.strftime("%m/%d") %>
    </div>
  </div>
  <div class="col s12"  style="margin-bottom:10px;">
    <div class="col s3 center">
          마켓 주제
    </div>
    <div class="col s9">
      <%= @one_flea.post%>
    </div>
  </div>
  <div class="col s12"  style="margin-bottom:10px;">
    <div class="col s3 center">
        품목
    </div>
    <div class="col s9">
      <%= @one_flea.sel_item %>
      <br>
    </div>
  </div>
  <div class="col s12" style="margin-bottom:10px;">
    <div class="col s3 center">
      참가비 관련사항 <br>/ 지원항목 안내
    </div>
    <div class="col s9">
     <%= @one_flea.condition %>
     <br>
    </div>
  </div>
  <div class="col s12" style="margin-bottom:10px;">
    <div class="col s3 center">
      상세 주소
    </div>
    <div class="col s9" id="flea_address">
      <%= @one_flea.address %><br>
      <%= @one_flea.address2 %>
    </div>
  </div>
  <div class="col s12" style="margin-bottom:10px;">
    <div class="col s3 center" style="margin-top:116.5px;">
      지도
    </div>
    <div class="col s9" id="map" style="height:250px; "></div>
  </div>

  <div class="col s12" style="margin-bottom:10px;">
    <div class="col s3 center">
      셀러 참가 방법
    </div>
    <div class="col s9 center" id="flea_address">
      <% if @one_flea.enter_link != "" && @one_flea.sel_term_end.to_f < Time.zone.now.to_datetime.to_f %>
        <i class="small material-icons grey-text">web</i><span style="vertical-align:super; color:grey">셀러 참가 신청 완료</span>      <br>
      <% elsif @one_flea.enter_link != ""%>
        <a class="enjoy-css " href="<%=@one_flea.enter_link%>" target="_blank">
        <i class="small material-icons">web</i><span style="vertical-align:super;">셀러 참가 신청하기</span></a>      <br>
      <% end %>
      <span class="left"><%= @one_flea.enter_way %></span>
    </div>
  </div>


  <div class="col s6" style="padding:15px;">
    <% if user_signed_in? && current_user.kind == "M" %>
    <form action="/pdf_upload" method="POST" enctype="multipart/form-data">
      <input name ="utf8" type="hidden", value="✓">
      <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">
      <input type="hidden" value="<%=@one_flea.id%>" name="flea_id">
      <input type="file" accept=".pdf" name="pdf_url">
      <button type="submit" class="enjoy-css" style="height:100%;">
      <i class="user_i small material-icons prefix">done</i><span style="vertical-align:super;">파일 올리기</span></button>
    </form>
    <% else %>
      <br>
    <% end %>
  </div>
  <div class="col s6 center" style="padding:15px;">

  </div>

<% unless @one_flea.pdf_url == ""%>
  <div>
    <sapn style="font-size:14px;">참가하는 셀러들</sapn> <%if current_user.kind == "M"%><a href="/pdf_upload_delete/<%=@one_flea.id%>">삭제</a><%end%>
    <object data="<%=@one_flea.pdf_url%>" type="application/pdf" width="100%" height="400" style="margin-top:10px;">
        alt : <a href="test.pdf">test.pdf</a>
    </object>
  </div>
<% end %>

</div>
<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=bfd6a0e439843d518fac93b55ea47a13&libraries=services"></script>


<script>




var flea_address = $('#flea_address').text();
var flea_title = $('#flea_title').text();
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도를 생성합니다
var map = new daum.maps.Map(mapContainer, mapOption);

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new daum.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addr2coord(flea_address, function(status, result) {

    // 정상적으로 검색이 완료됐으면
     if (status === daum.maps.services.Status.OK) {

        var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new daum.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new daum.maps.InfoWindow({
        content: '<div style="width:170px;text-align:center;padding:6px 0;">' + flea_title +' </div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    }
});
</script>
