<% if user_signed_in? && current_user.kind == "M" %>
  <div class = "z-depth-3 col s12 m10 offset-m1 l8 offset-l2 white" style="margin-bottom:30px;">
  <p>마켓 등록</p>
        <form action="/flea_update/<%= @one_flea.id %>" method="POST" enctype="multipart/form-data">
          <input name ="utf8" type="hidden", value="✓">
          <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">
          <input name ="utf8" type="hidden", value="✓">
          <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">
          <% if @one_flea.kind == 'short'%>
            <p>
              <input class="with-gap"name="kind" type="radio" id="test1" value="short" checked />
              <label for="test1">플리 마켓</label>

              <input class="with-gap"name="kind" type="radio" id="test2" value="long"/>
              <label for="test2">정기 마켓</label>
            </p>
          <% else %>
            <p>
              <input class="with-gap"name="kind" type="radio" id="test1" value="short"  />
              <label for="test1">플리 마켓</label>

              <input class="with-gap"name="kind" type="radio" id="test2" value="long" checked/>
              <label for="test2">정기 마켓</label>
            </p>
          <% end %>
          <div class="input-field">
             <label for="market_location">지역</label>
             <input id="market_location" type="text" name="location" value="<%= @one_flea.location %>">
          </div>

          <div class="input-field">
             <label for="market_title">마켓 이름</label>
             <input id="market_title" type="text" name="title" value="<%= @one_flea.title %>">
          </div>
          <div class="input-field">
             <label for="market_supervision">마켓 주체 주관</label>
             <input id="market_supervision" type="text" name="supervision"value="<%= @one_flea.supervision %>" length="255">
          </div>
          <div>
            <p>마켓 개최 기간</p>
            <div class="col s6">
              <label for="term_start">마켓 시작 시간</label>
              <input id="term_start" name="term_start"  class=flatpickr data-enabletime data-time_24hr  value="<%= @one_flea.term_start %>" required>
            </div>
            <div class="col s6">
              <label for="term_end">마켓 마치는 시간</label>
              <input id="term_end" name="term_end"  class=flatpickr data-enabletime data-time_24hr value="<%= @one_flea.term_end %>" required>
            </div>
            <p>셀러 모집 기간</p>
            <div class="col s6">
              <label for="sel_term_start">시작</label>
              <input id="sel_term_start" name="sel_term_start"  class=flatpickr data-enabletime data-time_24hr value="<%= @one_flea.sel_term_start %>">
            </div>
            <div class="col s6">
              <label for="sel_term_end">마감</label>
              <input id="sel_term_end" name="sel_term_end"  class=flatpickr data-enabletime data-time_24hr value="<%= @one_flea.sel_term_end %>">
            </div>
          </div>

          <div class="input-field col s12">
            <label for="market_sel_item">품목</label>
           <input id="market_sel_item" type="text" name="sel_item" value="<%= @one_flea.sel_item %>" length="255">
          </div>

          <div class="input-field col s12">
            <textarea id="market_post" name="post"  class="materialize-textarea" length="255"><%= @one_flea.post %></textarea>
            <label for="market_post">마켓 주제</label>
          </div>

          <div class="input-field col s12">
            <textarea id="market_condition" name="condition"  class="materialize-textarea" length="255"><%= @one_flea.condition %></textarea>
            <label for="market_condition">참가비 관련사항 / 지원항목 안내</label>
          </div>


          <div>
            <div class="col s2 center" style="vertical-align:bottom;">
              <button type="button" class="enjoy-css" onclick="sample6_execDaumPostcode()">
              <i class="small material-icons">store</i><span style="vertical-align:text-bottom;">주소찾기</span></button>
            </div>
            <div class="input-field col s5">
               <label for="market_address" length="255">마켓 주소</label>
               <input id="market_address" type="text" name="address" value="<%= @one_flea.address %>"   placeholder="마켓 주소">
            </div>
            <div class="input-field col s5">
               <label for="market_address2" length="255">상세 주소</label>
               <input type="text" id="market_address2"  name="address2" value="<%= @one_flea.address2 %>" placeholder="상세주소">
            </div>
          </div>


          <div class="input-field col s12">
            <textarea id="market_enter_way" name="enter_way"  class="materialize-textarea" length="255"></textarea>
            <label for="market_enter_way">마켓 참가 방법</label>
          </div>

          <div class="input-field col s12">
             <label for="market_enter_link" length="255">마켓 참가 링크</label>
             <input id="market_enter_link" type="text" name="enter_link" value="<%= @one_flea.enter_link %>" length="255">
          </div>
          <!-- 플리마켓 포스터 -->
          <label class="filebox">
            <label for="poster">사진 업로드</label>
            <input id="poster" class="image_in" type="file" name="pic" >
          </label><br>
            <img id="image_poster" class="profile_img" src="<%= @one_flea.image_url %>" alt="your image" style="max-height:150px; "/>

          <div class="col s4 offset-s8" style="height:40px; text-align:right;">
              <button type="submit" class="enjoy-css" style="height:100%;">
              <i class="small material-icons prefix">done</i><span style="vertical-align:super;">마켓 등록</span></button>
          </div>
        </form>

        <input type="hidden" id="sample6_postcode" placeholder="우편번호">
        <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
        <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var fullAddr = ''; // 최종 주소 변수
                    var extraAddr = ''; // 조합형 주소 변수

                    // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        fullAddr = data.roadAddress;

                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        fullAddr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                    if(data.userSelectedType === 'R'){
                        //법정동명이 있을 경우 추가한다.
                        if(data.bname !== ''){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있을 경우 추가한다.
                        if(data.buildingName !== ''){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                        fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode; //5자리 새우편번호 사용
                    document.getElementById('market_address').value = fullAddr;

                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById('market_address2').focus();
                }
            }).open();
        }
        </script>

  </div>
<% else %>
  <script>
    alert(권한이 없습니다.);
  </script>
<% end %>
