<div class="row">
  <div class="col s12 m12 l2 offset-l1 ">
    <img src="<%=image_path("like.png")%>" alt="market image" style="max-height:30px;" />
    <span style="font-size:25px; font-weight:bold;">좋아요</span>
  </div>
</div>
<div id="likes" class="row">
  <%= content_tag(:div, "", id: 'like-id', data:{path_to_asset: asset_path("like.png")}) %>
  <%= content_tag(:div, "", id: 'unlike-id', data:{path_to_asset: asset_path("unlike.png")}) %>
  <%= render partial: '/posts/post', collection: @like_posts, as: :post %>
</div>
<%= will_paginate @like_posts, :param_name => 'like_posts_page', class: "like_posts_pagination" %>
