<!-- 후기 -->
<% @posts.each do |e| %>
  <% if e.kind == "epilogue" && e.other_user == @one_user.id %>
    <% unless e.image_url.nil? %>
      <img src="<%= e.image_url %>" alt="your image" style="max-height:200px; display:block; margin-left:auto;margin-right:auto;"/>
    <% end %>
    <span class="star-rating" >
      <% 1.upto(5) do |i| %>
        <% if i == e.rating.to_i %>
          <i class="on"></i>
        <% else %>
          <i></i>
        <% end %>
      <% end %>
    </span>
    <!-- index_check -->
    <% if (user_signed_in? && @one_user == current_user) && e.index_check %>
      <a class="enjoy-css" href="/epilogue_check/<%=e.id%>">
        <i class="small material-icons">settings_backup_restore</i>
      </a>
    <% elsif (user_signed_in? && @one_user == current_user) %>
      <a class="enjoy-css" href="/epilogue_check/<%=e.id%>">
        <i class="small material-icons">done</i>
      </a>
    <% end %>
    <p><%= e.user.nickname %> : <%= e.content %><p>

      <!-- 수정, 삭제 버튼 -->
      <% if user_signed_in? && e.user == current_user  %>
        <a class="modal-trigger enjoy-css" href="#update<%= e.id%>"><i class="small material-icons">mode_edit</i></a>
        <a class="enjoy-css" href="/epilogue_delete/<%=e.id%>"><i class="small material-icons">delete</i></a>
      <!-- 수정 팝업창 -->
        <div id="update<%= e.id%>" class="modal modal-fixed-footer">
          <form action="/epilogue_update/<%= e.id %>" method="POST" enctype="multipart/form-data">
            <input name ="utf8" type="hidden", value="✓">
            <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">
            <div class="modal-content">
              <img class="goodsImg_up" src="<%=e.image_url%>" alt="your image" style="max-height:400px; display:block; margin-left:auto;margin-right:auto;"/>
              <span class="star-rating " >
                <% 1.upto(5) do |i| %>
                  <% if i == e.rating.to_i %>
                    <input type="radio" name="rating" id="star<%=i%>_<%=e.id%>" value="<%=i%>" checked><i></i><label for="star<%=i%>_<%=e.id%>"></label>
                  <% else %>
                    <input type="radio" name="rating" id="star<%=i%>_<%=e.id%>" value="<%=i%>"><i></i><label for="star<%=i%>_<%=e.id%>"></label>
                  <% end %>
                <% end %>
              </span>
              <div class="field">
                <label class="filebox" for="update_<%=e.id%>">
                  <img src="<%=image_path("profile.jpg")%>" alt="profile" style="width:40px;height:40px float:left;" >
                  <span style="font-size:20px; color:black;"><%= e.user.nickname %>   </span>
                  <label for="goodsIn_up_<%=e.id%>">사진 업로드</label>
                  <input id="goodsIn_up_<%=e.id%>" class="goodsIn_up" type="file" name="image_url">
                </label>
                <textarea id="update_<%=e.id%>" class="materialize-textarea" name="content" required><%= e.content %></textarea>
              </div>
            </div>
            <div class="modal-footer">
               <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">
                 <i class="large material-icons">settings_backup_restore</i></a>
              <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" name="action">
                <i class="large material-icons">done</i></button>
            </div>
          </form>
        </div>
      <% end %>
  <% end %>
<% end %>
