<% if @one_user.kind == "seller" %>
    <div class="z-depth-3 col s12 m10 offset-m1 l8 offset-l2" style="background-color:white;">
      <br>
      <div class="col s3">
       <%= user_page_profile(@one_user.id) %>
        <br>
        <% if user_signed_in? && @check_favorite %>
          <a class="enjoy-css" href="/user_favorite/<%= @one_user.id %>" method="post"><i class="small material-icons">delete</i>즐겨찾기 제거</a>
        <% elsif user_signed_in? %>
          <a class="enjoy-css" href="/user_favorite/<%= @one_user.id %>" method="post"><i class="small material-icons">store</i>즐겨찾기</a>
        <% end %>
      </div>
      <div class="col s9 row"><input type="hidden" value="<%=@one_user.id%>" class="seller_id"><br>
        <div class="col s3 center" style="margin-bottom:10px;">
          이메일
        </div>
        <div class="col s9" style="margin-bottom:10px;">
          <span id="seller" ><%= @one_user.email %></span>
        </div>

        <div class="col s3 center" style="margin-bottom:10px;">
          이름
        </div>
        <div class="col s9" style="margin-bottom:10px;">
          <span id="seller" ><%= @one_user.name %></span>
        </div>

        <div class="col s3 center" style="margin-bottom:10px;">
          닉네임
        </div>
        <div class="col s9" style="margin-bottom:10px;">
          <span id="nickname"><%= @one_user.nickname%> </span>
        </div>

        <div class="col s3 center" style="margin-bottom:10px;">
          연락처
        </div>
        <div class="col s9" style="margin-bottom:10px;">
          <span id="seller" ><%= @one_user.phone_num%></span>
        </div>

        <div class="col s3 center" style="margin-bottom:10px;">
          참가 경력
        </div>
        <div class="col s9" style="margin-bottom:10px;"><br>
          <span id="seller" ><%= @one_user.career%></span>
        </div>

        <div class="col s3 center" style="margin-bottom:10px;">
          판매 제품
        </div>
        <div class="col s9" style="margin-bottom:10px;">
          <br>
          <span id="seller" ><%= @one_user.category%></span>
        </div>

        <div class="col s5 offset-s7" style="text-align:right;">
          <%= facebook_url(@one_user.facebook_url) %>
          <%= instar_url(@one_user.instar_url) %>
          <%= twitter_url(@one_user.twitter_url) %>
          <%= blog_url(@one_user.blog_url) %>
        </div>
      </div>
    </div>

    <!-- 참여마켓 -->
<div class="flexslider col s12 m10 offset-m1 l8 offset-l2" style="background-color:transparent; border: 0px; -webkit-box-shadow: 0 0px 0px; margin-bottom:30px; margin-top:30px;">
  <ul class="slides">
    <% @market_posts.each do |post| %>
      <% if post.term_end.to_f > Time.zone.now.to_datetime.to_f %>
      <li class="center" style="font-size:25px;">
        <a class="modal-trigger_ep nickname" href="#user_page_<%= post.id %>" style="display: inline;">
          <span> <%= post.banner %>  </span>
        </a>
        <% if user_signed_in? && (post.user == current_user || current_user.kind == "M") %>
          <a class="modal-trigger enjoy-css" href="#update<%= post.id%>"><i class="material-icons" style="font-size:1.5rem">mode_edit</i></a>
          <!-- Modal Trigger -->
          <a class="enjoy-css modal-trigger" href="#post_delete_modal"><i class="material-icons" style="font-size:1.5rem">delete</i></a>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
<%= render partial: "/user_page/flea_attend_modal", collection: @market_posts, as: :post %>

    <%= render partial: "/user_page/goods" %>
    <div id="ep_modals">
      <% if user_signed_in? %>
      <!-- 수정 팝업창 -->
      <div id="write_1" class="modal modal-fixed-footer" style="max-height:650px; height:600px; width:580px;">
        <form action="/epilogue/<%=@one_user.id%>" method="POST" enctype="multipart/form-data" style="height:initial;">
          <input name ="utf8" type="hidden", value="✓">
          <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">
          <div class="modal-content" style="padding:18px;">
            <img id="image_write_in"  class="image" src="<%=image_path("black.png")%>" alt="your image" style="max-height:600px; max-width:450px; display:block; margin-left:auto;margin-right:auto;"/>

            <div class="field" style="height:120px; width: 90%; display:block; margin-left:auto;margin-right:auto;">
              <label class="filebox"for="goods_content">
                <span style="font-size:20px; color:black;"><%= current_user.nickname %>   </span>
                <label for="write_in">사진 업로드</label>
                <input id="write_in" class="image_in" type="file" name="pic">
                별점
                <span class="star-rating small_star">
                  <input type="radio" name="rating" id="star1" value="1" required><i></i><label for="star1" ></label>
                  <input type="radio" name="rating" id="star2" value="2"><i></i><label for="star2"></label>
                  <input type="radio" name="rating" id="star3" value="3"><i></i><label for="star3"></label>
                  <input type="radio" name="rating" id="star4" value="4"><i></i><label for="star4"></label>
                  <input type="radio" name="rating" id="star5" value="5"><i></i><label for="star5"></label>
                </span>
              </label>
              <textarea id="goods_content" class="materialize-textarea" name="content" style="margin-bottom:0px; padding-bottom:15px;"required></textarea>
            </div>
          </div>
          <div class="modal-footer"  style="height:40px;  padding:0px;">
             <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat " style="margin:0px;">
               <i class="large material-icons" style="font-size:1.5rem">settings_backup_restore</i></a>
            <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" name="action" style="margin:0px;">
              <i class="large material-icons" style="font-size:1.5rem">done</i></button>
          </div>
        </form>
      </div>




      <% end %>
      <%= render partial: "/user_page/ep_modal", collection: @ep_posts, as: :post %>
    </div>

<!-------------------------------------------------------------------------------------------------------------------------------------------------->
<% elsif user_signed_in? && @one_user == current_user %>
  <div class="row z-depth-2" style="position: relative; background-color: white;">
    <br>
    <div class="col s3">
     <%= user_page_profile(@one_user.id) %>
      <br>
      <% if user_signed_in? && @check_favorite %>
        <a class="enjoy-css" href="/user_favorite/<%= @one_user.id %>" method="post"><i class="small material-icons">delete</i>즐겨찾기 제거</a>
      <% elsif user_signed_in? %>
        <a class="enjoy-css" href="/user_favorite/<%= @one_user.id %>" method="post"><i class="small material-icons">store</i>즐겨찾기</a>
      <% end %>
    </div>
    <div class="col s9 row"><input type="hidden" value="<%=@one_user.id%>" class="seller_id">
      <div class="col s3 center" style="margin-bottom:10px;">
        이메일
      </div>
      <div class="col s9" style="margin-bottom:10px;">
        <span id="seller" ><%= @one_user.email %></span>
      </div>

      <div class="col s3 center" style="margin-bottom:10px;">
        이름
      </div>
      <div class="col s9" style="margin-bottom:10px;">
        <span id="seller" ><%= @one_user.name %></span>
      </div>

      <div class="col s3 center" style="margin-bottom:10px;">
        닉네임
      </div>
      <div class="col s9" style="margin-bottom:10px;">
        <span id="nickname"><%= @one_user.nickname%> </span>
      </div>

      <div class="col s3 center" style="margin-bottom:10px;">
        연락처
      </div>
      <div class="col s9" style="margin-bottom:10px;">
        <span id="seller" ><%= @one_user.phone_num%></span>
      </div>

      <div class="col s3 center" style="margin-bottom:10px;">
        참가 경력
      </div>
      <div class="col s9" style="margin-bottom:10px;"><br>
        <span id="seller" ><%= @one_user.career%></span>
      </div>

      <div class="col s3 center" style="margin-bottom:10px;">
        판매 제품
      </div>
      <div class="col s9" style="margin-bottom:10px;">
        <br>
        <span id="seller" ><%= @one_user.category%></span>
      </div>

      <div class="col s5 offset-s7" style="text-align:right;">
        <%= facebook_url(@one_user.facebook_url) %>
        <%= instar_url(@one_user.instar_url) %>
        <%= twitter_url(@one_user.twitter_url) %>
        <%= blog_url(@one_user.blog_url) %>
      </div>
    </div>
  </div>
  <%= render partial: "/user_page/goods" %>
<% else %>
  <script>
    alert("권한이 없습니다.")
  </script>
<% end %>
