<!-- post 쓰기-->
<div class="z-depth-2" style="padding:15px; background-color:white;">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#goods"><i class="material-icons">shopping_basket</i> 상품 등록</a></li>
        <li class="tab col s6 "><a href="#store"><i class="material-icons">store</i> 마켓 참여</a></li>
      </ul>
    </div>
     <!-- 상품 등록 -->
    <div id="goods" class="col s12">
     <form action="/post_write" method="POST" enctype="multipart/form-data">
       <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">
       <input name ="utf8" type="hidden", value="✓">
       <input name="kind" type="hidden" value="goods">
       <input type="hidden" name="img_url" value="">
       <br>
       <img id="image_write_in" class="image" src="<%=image_path("whiteline.png")%>" alt="your image" style="max-height:400px; display:block; margin-left:auto;margin-right:auto;"/>
       <div class="field">
         <label class="filebox"for="goods_content">
           <%= user_profile(current_user.id) %>
           <span style="font-size:20px; color:black;"><%= current_user.nickname %>   </span>
               <label for="write_in">사진 업로드</label>
           <input id="write_in" class="image_in" type="file" name="pic" required>
         </label><br>
         <textarea id="goods_content" class="materialize-textarea" name="content" placeholder="내용을 입력하세요" style="width:75%; margin-left:10px;"></textarea>
         <button class="enjoy-css"><i class="material-icons right medium">textsms</i></button>
       </div>
     </form>
    </div>
     <!-- 마켓 참여 -->
    <div id="store" class="col s12">
      <form action="/post_write" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">
        <input name ="utf8" type="hidden", value="✓">
        <input name="kind" type="hidden" value="markets"><br>
        <img id="marketImg" src="<%=image_path("whiteline.png")%>" alt="market image" style="max-height:400px; display:block; margin-left:auto;margin-right:auto;" />
        <input id="marketIn" type="hidden" name="img_url" value="">
        <br>
        <!-- 참여마켓 선택 -->
         <div class="row">
           <div class="col s6">
           <!-- Dropdown Trigger -->
             <a class='dropdown-button btn' href='#' data-activates='shorts' style="width:90%;">기간제 마켓 선택</a>
          <!-- Dropdown Structure -->
             <ul id='shorts' class='dropdown-content' >
               <% @shorts.each do |m| %>
                 <% if m.term_end.to_f > Time.zone.now.to_datetime.to_f %>
                   <li class="flea" style="width:100%;" ><%= m.title %><input type="hidden" value="<%=m.image_url%>"></li>
                 <% end %>
               <% end %>
             </ul>
           </div>
           <div class="col s6">
             <a class='dropdown-button btn' href='#' data-activates='longs'style="width:90%;">정기 마켓 선택</a>
            <!-- Dropdown Structure -->
             <ul id='longs' class='dropdown-content' >
               <% @longs.each do |m| %>
                 <li class="flea" style="width:100%;" style="margin: 5px auto;"><%= m.title %><input type="hidden" value="<%=m.image_url%>"></li>
               <% end %>
             </ul>
           </div>
           <br><br><br><br>
         </div>
      <!-- 텍스트 입력 -->
        <div class="input-field">
          <label class="filebox"for="attend">
            <%= user_profile(current_user.id) %>
            <span style="font-size:20px; color:black;"><%= current_user.nickname %></span>
          </label>
          <textarea id="attend" class="materialize-textarea" name="content" placeholder="내용을 입력하세요" style="width:70%; margin-left:10px;"></textarea>
          <button class="enjoy-css"><i class="material-icons right medium">textsms</i></button>
        </div>
      </form>
    </div>
  </div>
  </div><br><br>
