<!-- 각각 post -->
  <% if post.index_check %>
  <br>
    <div style="position: relative;">
      <div class="z-depth-2"  style="display: block;margin-left: auto;margin-right: auto; width:650px; padding:20px; background-color:white; padding-top:10px;">
        <div class="row" style="min-height:20px;position: relative; margin-bottom:0px;">
          <% if  post.kind == 'epilogue' %>
            <span class="left" style="font-size:18px; padding-left: 20px; ">상품 review</span>
            <div class="col s4 offset-s2"><%= user_nickname_page(user_find(post.other_user).id) %>의 상품</div>
          <% elsif post.kind == 'goods' %>
            <span class="left" style="font-size:18px; padding-left: 20px; ">상품 info</span>
          <% elsif post.kind == 'markets'%>
            <span class="left" style="font-size:18px; padding-left: 20px; ">마켓 info</span>
          <% end %>
          <span class="right" style="position: absolute; bottom: 0px; right:0px; font-size:12px;">
            <%= post.created_at.strftime("%m/%d %H:%M") %>
            <!-- 수정, 삭제 버튼 -->
            <% if user_signed_in? && (post.user == current_user || current_user.kind == "M") %>
              <a class="modal-trigger enjoy-css" href="#update<%= post.id%>"><i class="tiny material-icons">mode_edit</i></a>
              <!-- Modal Trigger -->
              <a class="enjoy-css modal-trigger" href="#post_delete_modal_<%= post.id %>"><i class="tiny material-icons">delete</i></a>
                <!-- Modal Structure -->
                <div id="post_delete_modal_<%= post.id %>" class="modal modal-fixed-footer" style="height:35%; width:35%;">
                  <div class="modal-content">
                    <h5>게시물 삭제</h5>
                    <hr>
                    <p>정말로 삭제 하시겠습니까??</p>
                  </div>
                  <div class="modal-footer" style="height:40px;  padding:0px;">
                    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat "style="margin:0px;">
                      <i class="material-icons" style="font-size:1.5rem">settings_backup_restore</i></a>
                   <a class=" modal-action modal-close waves-effect waves-green btn-flat " style="margin:0px;" href="/post_delete/<%=post.id%>">
                     <i class="material-icons" style="font-size:1.5rem">done</i></a>
                  </div>
                </div>

              <%= render partial: '/posts/post_ud' , locals: {post: post} %>
            <% end %>
          </span>
        </div>
        <% if  post.kind == 'markets' %>
          <a href="<%= market_link(post.image_url)%>">
            <img src="<%= post.image_url %>" style="max-height:450px; max-width:100%; display:block; margin-left:auto;margin-right:auto;">
          </a>
        <% else %>
        <img src="<%= post.image_url %>" style="max-height:450px; max-width:100%; display:block; margin-left:auto;margin-right:auto;">
        <% end %>
        <!-- post 내용 -->
        <span style="margin-bottom:0px; font-size:15px; ">
          <br>
          <%=  user_nickname_page(post.user.id) %>
          <% if  post.kind == 'epilogue' %>
            <span class="star-rating small_star" style="vertical-align: sub;" >
              <% 1.upto(5) do |i| %>
                <% if i == post.rating.to_i %>
                  <i class="on"></i>
                <% else %>
                  <i></i>
                <% end %>
              <% end %>
            </span>
          <% end %>

          <div class="right" style="font-size:13px;">
            좋아요
            <span class="like_count_<%=post.id%>" style="font-size:22px;"><%= post.post_likes.all.count %></span>
            <!-- 좋아요 -->
            <%= like_btn(post)%>
          </div>
          <br>
          <span style="font-size:15px;">
          <%= post.content.gsub(/\n/, '<br />').html_safe %>
          </span>
        </span>

        <!-- 댓글 쓰기 -->
          <div class="re_view" value="<%=post.id%>" style="margin-top:15px; cursor:pointer;">댓글 보기 (<%= post.post_replies.all.count %>)</div>
          <div id="reply_<%= post.id%>" style="display:none;"><br>
            <% if user_signed_in?%>
              <div id="re_form_<%=post.id%>" action="/post_reply">
                <span>댓글 : </span><input id="re_input_<%=post.id%>" type="text" name ="content" style="width:80%;"  length="255"  required>
                <button class="re_submit enjoy-css" value="<%=post.id%>" style="height:20px;"><i class="material-icons right small">textsms</i></button>
              </div>
            <% end %>


            <!-- one_댓글 -->
            <% post.post_replies.order('updated_at DESC').each do |r| %>
              <div id="one_reply_<%=r.id%>" class="reply_div" style="margin-bottom:5px;">
                <span ><%= user_nickname_page(r.user.id) %> : <span id="re_content_<%=r.id%>" style="margin-right:5px;"><%= r.content %></span></span>
                <div id ="down_div<%=r.id%>" style="text-align:right">
                  <!-- 댓글 수정,삭제 버튼 -->
                   <% if user_signed_in? && (r.user == current_user || current_user.kind == "M") %>
                    <button class="reply_update enjoy-css" id="reply_update_<%=r.id%>" value="<%= r.id%>" style="height: 20px;">
                      <i class="material-icons" style="font-size:12px;">mode_edit</i>
                    </button>
                    <button class="reply_delete enjoy-css" id="reply_delete_<%=r.id%>" value="<%= r.id%>" style="height: 20px;">
                      <i class="material-icons" style="font-size:12px;">delete</i>
                    </button>
                   <% end %>
                   <%= r.created_at.in_time_zone("Asia/Seoul").strftime("%m월%d일 %H:%M") %>
                 </div>
              </div>
            <% end %>
          </div>
        </div>
    </div><br><br>
  <% end %>
