<!DOCTYPE html>
<html>
<head>
  <title>와라! 플리마켓</title>
  <meta name="description" content="순전히 플리마켓을 좋아하는 그 마음이 발전되어서 이제는 '와라 플리마켓' 이 되었습니다.">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="/public/favicon.ico"/>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="scroll style-3" style="font-family:NGB; font-size:12px;">
  <header>
    <div class="container" style="width:100%; text-align:center; heigth:190px;" >
      <a href="/">
        <img  src="<%=image_path("logo.png")%>" alt="logo" height="100px" style="margin-top:40px;"/>
      </a><br>
      <form id="search_form" action="/searches" method="get" style="width:20%; height:40px; text-align:right; margin-left:80%;">
        <div class="input-field" style="height:50px; padding-bottom:10px; padding-right:45px; margin-top:5px; margin-bottom:0px;">
          <button class="enjoy-css prefix" style=" right:0px; max-height:60px; display:inline; padding-bottom:20px;">
            <i class="material-icons " style="font-size:1.5rem;max-height:60px;">search</i></button>
          <input style="margin-left:0px;border-bottom: 1px solid black;max-height:30px; padding-left:0px; font-size:13px;" name ="search"  type="text" value="<%= search(@search) %>" required>
        </div>
      </form>
    </div>


    <nav class="black" style="height:50px;">
      <div class="nav-wrapper container" style="text-align:center;" >
        <% if user_signed_in? %>
          <ul class="  hide-on-med-and-down" style="display: inline-block;">
            <% if request.original_url.split('/')[-2] + '/' + request.original_url.split('/')[-1] === "user_page/"+ current_user.id.to_s %>
              <li class="active"><a href="/user_page/<%= current_user.id %>" style="color:black;">내 페이지</a></li>
            <% else %>
              <li><a href="/user_page/<%= current_user.id %>">내 페이지</a></li>
            <% end %>

            <% if request.original_url.split('/')[-1] === "like_post"%>
              <li class="active"><a href="/like_post" style="color:black;">좋아요 글</a></li>
            <% else %>
              <li><a href="/like_post">좋아요 글</a></li>
            <% end %>


            <% if request.original_url.split('/')[-1] === "like_seller"%>
              <li class="active"><a href="/like_seller" style="color:black;">즐겨찾기</a></li>
            <% else %>
              <li><a href="/like_seller">즐겨찾기</a></li>
            <% end %>

            <% if request.original_url.split('/')[-2] + '/' + request.original_url.split('/')[-1] === "users/edit"%>
              <li class="active"><%= link_to '정보 수정',edit_user_registration_path, {:style=>'color:black;'}  %></li>
            <% else %>
              <li><%= link_to '정보 수정',edit_user_registration_path%></li>
            <% end %>

            <li><a href="/users/sign_out">로그아웃</a></li>

            <% if request.original_url.split('/')[-1] === "services"%>
              <li class="active"><a href="/services" style="color:black;">Q & A</a></li>
            <% else %>
              <li><a href="/services">Q & A</a></li>
            <% end %>

            <% if request.original_url.split('/')[-1] === "about_us"%>
              <li class="active"><a href="/about_us"style="color:black;">About Us</a></li>
            <% else %>
              <li><a href="/about_us">About Us</a></li>
            <% end %>
          </ul>
          <input type="hidden" id="current_user_nick" value="<%=current_user.nickname%>">
          <input type="hidden" id="current_user_id" value="<%=current_user.id%>">
          <input type="hidden" id="current_user_kind" value="<%=current_user.kind%>">
        <% else %>
        <ul class="  hide-on-med-and-down" style="display: inline-block;">
          <li><a href="#" style="pointer-events: none; cursor: default; color: gray;">내 페이지</a></li>
          <li><a href="#" style="pointer-events: none; cursor: default; color: gray;">좋아요 글</a></li>
          <li><a href="#" style="pointer-events: none; cursor: default; color: gray;">즐겨찾기</a></li>
          <li><a href="#" style="pointer-events: none; cursor: default; color: gray;">정보수정</a></li>
          <% if request.original_url.split('/')[-2] + '/' + request.original_url.split('/')[-1] === "users/sign_in"%>
            <li class="active"><a href="/users/sign_in" style="color:black;">로그인</a></li>
          <% else %>
            <li><a href="/users/sign_in">로그인</a></li>
          <% end %>
          <li><a href="#" style="pointer-events: none; cursor: default; color: gray;">Q & A</a></li>
          <% if request.original_url.split('/')[-1] === "about_us"%>
            <li class="active"><a href="/about_us"style="color:black;">About Us</a></li>
          <% else %>
            <li><a href="/about_us">About Us</a></li>
          <% end %>
        </ul>
        <% end %>

      </div>
    </nav>
 </header>
 <main>
   <div class="container">
     <div class="row" style="position:relative; margin:0px;  display: block; margin-left: auto; margin-right: auto;"><br>
       <div class="col l2">
         <%= render partial: '/user_page/epilogue' if @seller_check %>
         <%= render partial: '/flea/right' if @check %>
       </div>
       <div class="col l10" style="padding-left:40px;">
         <%= yield %>
       </div>
     </div>
   </div>
 </main>
</body>
</html>
