<div class="z-depth-3 col s12 m12 l8 offset-l2" style="background-color:white; margin-bottom:50px;">
  <h4 style="text-align:center">정보수정</h4>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, :html => { :multipart => true}) do |f| %>

  <div class="col s6">
    <h5 style="text-align:center; margin-bottom:20px;">필수 항목</h5>
  </div>
  <div class="col s6">
    <h5 style="text-align:center; margin-bottom:20px;">선택 항목</h5>
  </div>
 <!--앞-->
  <div class="col s6" style="padding-right:20px;">
    <div class="row">
      <div class="col s3">
        <span class="user_label">구   분</span>
      </div>
    <!--셀러/바이어-->
      <% if current_user.kind == "seller" %>
        <div class="col s4">
          <input class="with-gap" name="user[kind]" type="radio" id="kind1" value="seller" disabled="disabled" required checked/>
          <label for="kind1" class="user_label" >Seller</label>
        </div>
        <div class="col s4">
          <input class="with-gap" name="user[kind]" type="radio" id="kind2"disabled="disabled"  value="buyer">
          <label for="kind2" class="user_label">Shopper</label>
        </div>
      <%else%>
        <div class="col s4">
          <input class="with-gap" name="user[kind]" type="radio" id="kind1"disabled="disabled"  value="seller" required>
          <label for="kind1" class="user_label">Seller</label>
        </div>
        <div class="col s4">
          <input class="with-gap" name="user[kind]" type="radio" id="kind2" value="buyer"disabled="disabled"  checked/>
          <label for="kind2" class="user_label">Shopper</label>
        </div>
      <% end %>
      <div class="col s1">
      </div>
    </div>
    <!-- 이메일 -->
      <div class="input-field">
       <i class="user_i material-icons prefix">email</i>
         <label for="user_email" class="user_input_label">이메일</label>
         <input class="user_input_label" readonly="readonly" value="<%= current_user.email %>" type="email"  name="user[email]" id="user_email"  required>
      </div>
    <!-- 현재 비밀번호 -->
      <div class="input-field">
        <i class="user_i material-icons prefix">vpn_key</i>
          <label class="user_input_label" for="user_current_password">현재 비밀번호</label>
          <input class="user_input_label" autocomplete="off" type="password" name="user[current_password]" id="user_current_password"  style="border-bottom: 2px solid pink !important;" required>
      </div>
      <!-- 닉네임 -->
      <div class="row" style="position: relative;">
        <div class="input-field col s9">
          <i class="user_i material-icons prefix">account_circle</i>
          <input class="user_input_label" id="nickname" name="user[nickname]"  type="text" class="validate" value="<%= current_user.nickname %>" readonly="readonly" required>
          <label class="user_input_label" for="nickname">닉네임</label>
        </div>
        <div class="col s3 center" style="position: absolute; bottom:0px; right:0px; ">
          <button type="button" id="nickname_check" class="enjoy-css" style="height:100%; margin-bottom:20px; display:none;">중복확인</button>
          <button type="button" id="nickname_change" class="enjoy-css" style="height:100%; margin-bottom:20px;">변경하기</button>
        </div>
         <!-- 닉네임 중복 Modal -->
        <div id="email_check_modal" class="modal modal-fixed-footer" style="height:35%; width:30%;">
          <div class="modal-content">
            <h5>알림</h5>
            <hr>
            <p class="email_check_modal_content"></p>
          </div>
          <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">
              <i class="user_i material-icons" style="font-size:2rem">done</i></a>
          </div>
        </div>
      </div>



    <!-- 이름 -->
      <div class="input-field">
        <i class="user_i material-icons prefix">assignment_ind</i>
        <label class="user_input_label" for="name">이름</label>
        <input class="user_input_label" id="name" type="text" name="user[name]" value="<%= current_user.name %>"required>
      </div>
    <!-- 전화번호 -->
      <div class="input-field">
        <i class="user_i material-icons prefix">phone</i>
        <label class="user_input_label" for="icon_telephone">전화번호</label>
        <input class="user_input_label" id="icon_telephone" value="<%= current_user.phone_num %>" name="user[phone_num]"  type="text" pattern="[0-9]*" required>
      </div>
      <!-- 비밀번호 변경하기 -->
        <div class="input-field">
         <i class="user_i material-icons prefix">lock</i>
           <label class="user_input_label" for="user_password">비밀번호 변경하기</label>
           <input class="user_input_label" autocomplete="off" type="password" name="user[password]" placeholder="6글자 이상으로 해주세요" id="user_password" >
        </div>
      <!-- 비밀번호 확인 -->
        <div class="input-field">
         <i class="user_i material-icons prefix">vpn_key</i>
           <label class="user_input_label" for="user_password_confirmation">비밀번호 변경 확인</label>
           <input class="user_input_label" autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation">
        </div>

    </div>

  <!--뒤-->
    <div class="col s6" style="border-left: 5px solid #6bcae8; padding-left:20px;">
      <!-- 프로필 -->
      <label class="filebox">
        <% if current_user.profile.blank?%>
          <img id="image_profile" class="image" src="<%= image_path('profile.jpg') %>" alt="your image" style="max-height:100px; "/>
        <% else %>
          <img id="image_profile" class="image" src="<%= current_user.profile %>" alt="your image" style="max-height:100px; "/>
        <% end %>
        <label for="profile">사진 업로드</label>
        <input id="profile" class="image_in" type="file" name="user[profile]">
      </label>
      <!--성별-->
      <div class="row">
        <div class="col s3">
          <span class="user_label">성   별</span>
        </div>
      <!--셀러/바이어-->
        <% if current_user.gender == "m" %>
          <div class="col s4">
            <input class="with-gap" name="user[gender]" type="radio" id="gender1" value="m" checked/>
            <label class="user_label" for="gender1">남</label>
          </div>
          <div class="col s4">
            <input class="with-gap" name="user[gender]" type="radio" id="gender2" value="f">
            <label class="user_label" for="gender2">여</label>
          </div>
        <% elsif  current_user.gender == "f"  %>
          <div class="col s4">
            <input class="with-gap" name="user[gender]" type="radio" id="gender1"value="m">
            <label class="user_label" for="gender1">남</label>
          </div>
          <div class="col s4">
            <input class="with-gap" name="user[gender]" type="radio" id="gender2"value="f" checked/>
            <label class="user_label" for="gender2">여</label>
          </div>
        <% else %>
          <div class="col s4">
            <input class="with-gap" name="user[gender]" type="radio" id="gender1"value="m">
            <label class="user_label" for="gender1">남</label>
          </div>
          <div class="col s4">
            <input class="with-gap" name="user[gender]" type="radio" id="gender2"value="f" />
            <label class="user_label" for="gender2">여</label>
          </div>
        <% end %>
        <div class="col s1">
        </div>
      </div>
  <!--지역-->
      <div class="row">
        <div class="col s3">
          <span class="user_label">지  역</span>
        </div>
        <% if current_user.location == "busan" %>
          <div class="col s4">
            <input class="with-gap" name="user[location]" type="radio" id="location1" value="busan" checked/>
            <label class="user_label" for="location1">부 산</label>
          </div>
          <div class="col s4">
            <input class="with-gap" name="user[location]" type="radio" id="location2" value="deagu">
            <label class="user_label" for="location2">대 구</label>
          </div>
        <% elsif current_user.location == "deagu" %>
          <div class="col s4">
            <input class="with-gap" name="user[location]" type="radio" id="location1" value="busan">
            <label class="user_label" for="location1">부 산</label>
          </div>
          <div class="col s4">
            <input class="with-gap" name="user[location]" type="radio" id="location2" value="deagu" checked/>
            <label class="user_label" for="location2">대 구</label>
          </div>
        <% else %>
          <div class="col s4">
            <input class="with-gap" name="user[location]" type="radio" id="location1" value="busan">
            <label class="user_label" for="location1">부 산</label>
          </div>
          <div class="col s4">
            <input class="with-gap" name="user[location]" type="radio" id="location2" value="deagu" />
            <label class="user_label" for="location2">대 구</label>
          </div>
        <% end %>
        <div class="col s2">
        </div>
      </div>
     <!--참가 경력 사항-->
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="user_i material-icons prefix">mode_edit</i>
            <label class="user_input_label" for="career">셀러의 참가경력</label>
            <textarea id="career" name="user[career]" class="materialize-textarea user_input_label" length="255" placeholder="ex) ○○마켓, ☆☆마켓"><%=current_user.career%></textarea>
          </div>
        </div>
      </div>
     <!--판매 제품-->
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="user_i material-icons prefix">mode_edit</i>
            <label for="category" class="user_input_label" >판매 제품</label>
            <textarea id="category" name="user[category]" class="materialize-textarea user_input_label" length="255" placeholder="ex) 휴대폰케이스, 팔찌, 목걸이"><%=current_user.category%></textarea>
          </div>
        </div>
      </div>
     <!-- SNS -->
     <div class="col s12">
        <h4>SNS</h4>
        <div class="input-field" style="height:60px;">
            <img src="<%= image_path('facebook.png') %>" class="user_img_round prefix" style="width:35px; vertical-align:middle;">
          <input class="user_input user_input_label" style="max-height:30px; padding-left:0px; font-size:13px; margin-bottom:10px;" name="user[facebook_url]" type="text"  value="<%=current_user.facebook_url%>" placeholder="https:// 또는 http://를 붙여주세요">
        </div>
        <div class="input-field" style="height:60px;">
            <img src="<%= image_path('instagram.png') %>" class="user_img_round prefix" style="width:35px; vertical-align:middle;">
            <input class="user_input user_input_label" style="max-height:30px; padding-left:0px; font-size:13px; margin-bottom:10px;" name="user[instar_url]" value="<%=current_user.instar_url%>" placeholder=" ">
        </div>
        <div class="input-field" style="height:60px;">
            <img src="<%= image_path('twitter.png') %>" class="user_img_round prefix" style="width:35px; vertical-align:middle;">
            <input class="user_input user_input_label" style="max-height:30px; padding-left:0px; font-size:13px; margin-bottom:10px;" name="user[twitter_url]" value="<%=current_user.twitter_url%>" placeholder=" ">
        </div>
        <div class="input-field" style="height:60px;">
            <img src="<%= image_path('blog.png') %>" class="user_img_round prefix" style="width:35px; vertical-align:middle;">
            <input class="user_input user_input_label" style="max-height:30px; padding-left:0px; font-size:13px; margin-bottom:10px; " name="user[blog_url]" value="<%=current_user.blog_url%>" placeholder=" ">
        </div>
      </div>
    </div>


    <!-- 가입하기 -->
        <div id="same_ok" class="col s4 offset-s8" style="height:40px; text-align:right;">
            <button type="submit" class="enjoy-css" style="height:100%;">
            <i class="user_i small material-icons prefix">done</i><span style="vertical-align:super;">수정하기</span></button>
        </div>

         <div id="same_check" class="col s4 offset-s8" style="height:40px; text-align:right;  display:none;">
           <a href="#same_check_modal" class="enjoy-css modal-trigger" style="height:100%;">
           <i class="user_i small material-icons prefix">done</i><span style="vertical-align:super;">수정하기</span></a>
         </div>
         <!-- Modal Structure -->
         <div id="same_check_modal" class="modal modal-fixed-footer" style="height:35%; width:30%;">
           <div class="modal-content">
             <h5>알림</h5>
             <hr>
             <p class="modal_content">닉네임 중복확인을 해주세요</p>
           </div>
           <div class="modal-footer">
             <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">
               <i class="user_i material-icons" style="font-size:2rem">done</i></a>
            </div>
          </div>


  <% end %>
  </div>
