<div class="z-depth-3 col s12 m12 l8 offset-l2" style="background-color:white; margin-bottom:50px;">
  <h4 style="text-align:center">회원가입</h4>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => true}) do |f| %>
    <%= devise_error_messages! %>
    <div class="col s6">
      <h5 style="text-align:center; margin-bottom:20px;">필수 항목</h5>
    </div>
    <div class="col s6">
      <h5 style="text-align:center; margin-bottom:20px;">선택 항목</h5>
    </div>
    <!--앞-->
    <div class="col s6" style="padding-right:20px;">
    <!--셀러/바이어-->
      <div class="row">
        <div class="col s3">
          <span class="user_label">구 분</span>
        </div>
        <div class="col s4">
          <input class="with-gap" name="user[kind]" type="radio" id="kind1" value="seller" required>
          <label for="kind1" class="user_label">Seller</label>
        </div>
        <div class="col s4">
           <input class="with-gap" name="user[kind]" type="radio" id="kind2" value="buyer">
           <label for="kind2" class="user_label">Shopper</label>
          </div>
          <div class="col s1"> </div>
      </div>
    <!-- 이메일 -->
      <div class="input-field">
       <i class="user_i material-icons prefix user_i">email</i>
         <label for="user_email" class="user_input_label">이메일</label>
         <input class="user_input_label" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" required>
      </div>
    <!-- 비밀번호 -->
      <div class="input-field">
       <i class="user_i material-icons prefix user_i ">lock</i>
         <label for="user_password" class="user_input_label">비밀번호</label>
         <input class="user_input_label" autocomplete="off" type="password" class="user_input_label" name="user[password]" id="user_password" placeholder="6글자 이상으로 해주세요" required>
      </div>
    <!-- 비밀번호 확인 -->
      <div class="input-field">
       <i class="user_i material-icons prefix">vpn_key</i>
         <label for="user_password_confirmation" class="user_input_label">비밀번호 확인</label>
         <input class="user_input_label" autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" required>
      </div>
    <!-- 닉네임 -->
      <div class="row" style="position: relative;">
        <div class="input-field col s9">
          <i class="user_i material-icons prefix">account_circle</i>
          <label class="user_input_label" for="nickname">닉네임</label>
          <input class="user_input_label" id="nickname" name="user[nickname]"  type="text" required>
        </div>
        <div class="col s3 center" style="position: absolute; bottom:0px; right:0px; ">
          <button type="button" id="nickname_check" class="enjoy-css user_label" style="height:100%; margin-bottom:20px;">중복확인</button>
          <button type="button" id="nickname_change" class="enjoy-css user_label" style="height:100%; margin-bottom:20px; display:none;">변경하기</button>
        </div>
         <!-- 닉네임 중복 Modal -->
        <div id="email_check_modal" class="modal modal-fixed-footer" style="height:35%; width:30%;">
          <div class="modal-content">
            <h5>알림</h5>
            <hr>
            <p class="email_check_modal_content"></p>
          </div>
          <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">
              <i class="material-icons" style="font-size:2rem">done</i></a>
          </div>
        </div>
      </div>
    <!-- 이름 -->
      <div class="input-field">
        <i class="user_i material-icons prefix">assignment_ind</i>
        <label class="user_input_label" for="name">이름</label>
        <input id="name" type="text" name="user[name]"class="user_input_label" required>
      </div>
    <!-- 전화번호 -->
      <div class="input-field">
        <i class="user_i material-icons prefix">phone</i>
        <label class="user_input_label" for="icon_telephone">전화번호</label>
        <input id="icon_telephone" name="user[phone_num]"  type="text" pattern="[0-9]*" class="user_input_label" required>
      </div>
    </div>

  <!--뒤-->
    <div class="col s6" style="border-left: 5px solid #6bcae8; padding-left:20px;">
      <!-- 프로필 -->
      <label class="filebox">
        <img id="image_profile" class="image" src="<%=image_path("profile.jpg")%>" alt="your image" style="max-height:100px; "/>
        <label for="profile">사진 업로드</label>
        <input id="profile" class="image_in" type="file" name="user[profile]">
      </label>

    <!--성별-->
      <div class="row" style="margin-top:15px;">
        <div class="col s3">
          <span class="user_label">성  별 </span>
        </div>
        <div class="col s4">
          <input class="with-gap" name="user[gender]" type="radio" id="gender1" value="m" >
          <label for="gender1" class="user_label">남</label>
        </div>
        <div class="col s4">
          <input class="with-gap" name="user[gender]" type="radio" id="gender2" value="f">
          <label for="gender2" class="user_label">여</label>
          </div>
          <div class="col s1"> </div>
      </div>
    <!--지역-->
      <div class="row">
        <div class="col s3">
          <span  class="user_label">지  역</span>
        </div>
        <div class="col s4">
          <input class="with-gap" name="user[location]" type="radio" id="location1" value="busan">
          <label for="location1" class="user_label">부 산</label>
        </div>
        <div class="col s4">
          <input class="with-gap" name="user[location]" type="radio" id="location2" value="deagu">
          <label for="location2" class="user_label">대 구</label>
        </div>
          <div class="col s1"> </div>
      </div>
    <!--참가 경력 사항-->
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="user_i material-icons prefix">mode_edit</i>
            <label class="user_input_label" for="career">셀러의 참가경력</label>
            <textarea id="career" name="user[career]"  class="materialize-textarea user_input_label" length="255" placeholder="ex) ○○마켓, ☆☆마켓"></textarea>
          </div>
        </div>
      </div>
    <!--판매 제품-->
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="user_i material-icons prefix">mode_edit</i>
            <label for="category" class="user_input_label">판매 제품</label>
            <textarea id="category" name="user[category]" class="materialize-textarea user_input_label" length="255" placeholder="ex) 휴대폰케이스, 팔찌, 목걸이"></textarea>
          </div>
        </div>
      </div>
    <!-- SNS -->
    <!-- SNS -->
    <div class="col s12">
       <h5>SNS</h5>
       <div class="input-field" style="height:60px;">
           <img src="<%= image_path('facebook.png') %>" class="user_img_round prefix" style="width:35px; vertical-align:middle;">
         <input class="user_input user_input_label" style="max-height:30px; padding-left:0px; font-size:13px; margin-bottom:10px;" name="search" type="text" placeholder="https://wwww.example.com">
       </div>
       <div class="input-field" style="height:60px;">
           <img src="<%= image_path('instagram.png') %>" class="user_img_round prefix" style="width:35px; vertical-align:middle;">
           <input class="user_input user_input_label" style="max-height:30px; padding-left:0px; font-size:13px; margin-bottom:10px;" name="user[instar_url]" placeholder=" ">
       </div>
       <div class="input-field" style="height:60px;">
           <img src="<%= image_path('twitter.png') %>" class="user_img_round prefix" style="width:35px; vertical-align:middle;">
           <input class="user_input user_input_label" style="max-height:30px; padding-left:0px; font-size:13px; margin-bottom:10px;" name="user[twitter_url]" placeholder=" ">
       </div>
       <div class="input-field" style="height:60px;">
           <img src="<%= image_path('blog.png') %>" class="user_img_round prefix" style="width:35px; vertical-align:middle;">
           <input class="user_input user_input_label" style="max-height:30px; padding-left:0px; font-size:13px; margin-bottom:10px; " name="user[blog_url]"  placeholder=" ">
       </div>
     </div>
    </div>

<!-- 가입하기 -->
    <div id="same_ok" class="col s4 offset-s8" style="height:40px; text-align:right; display:none;">
        <button type="submit" class="enjoy-css" style="height:100%;">
        <i class="user_i small material-icons prefix">done</i><span style="vertical-align:super;">가입하기</span></button>
    </div>



     <div id="same_check" class="col s4 offset-s8" style="height:40px; text-align:right;">
       <a href="#same_check_modal" class="enjoy-css modal-trigger" style="height:100%;">
       <i class="user_i small material-icons prefix">done</i><span style="vertical-align:super;">가입하기</span></a>
     </div>
     <!-- Modal Structure -->
     <div id="same_check_modal" class="modal modal-fixed-footer" style="height:35%; width:30%;">
       <div class="modal-content">
         <h5>알림</h5>
         <hr>
         <p class="modal_content">닉네임 중복확인을 해주세요</p>
       </div>
       <div class="modal-footer">
         <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">
           <i class="user_i material-icons" style="font-size:2rem">done</i></a>
        </div>
      </div>

  <% end %>
</div>
